extends ../layout
block content
    link(rel='stylesheet', href='/stylesheets/style.css')
    .wrapper
    .container
        header
        .content
            .i-logo
                img.logo-mark(src="/images/moonfarmer_logo_light.svg")
            .i-slogan
                span.i-line
                | • &nbsp; 这里是一行文字吖吖 &nbsp; •
                span.i-line
            a(href="javascript:void(0);").btn-me ヾ(◍°∇°◍)ﾉﾞ
        footer