extends ../layout
block content
    link(rel='stylesheet', href='/stylesheets/style.css')
    .wrapper
    .container
        header
        .content
            .i-logo
            a(href="javascript:void(0);").btn-me ヾ(◍°∇°◍)ﾉﾞ
        footer